@import "tailwindcss";

:root {
  /* Основні кольори */
  --color-body: #f4f4f5;
  --color-gray: #353556;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Кольори тексту */
  --color-text-primary: #000000;
  --color-text-heading: #353556;
  --color-text-menu: #212143;
  --color-text-button-dark: #131445;
  --color-text-filter: #acaac9;

  /* Кольори фону */
  --color-bg-light: #f4f4f5;
  --color-bg-dark: #15162e;
  --color-bg-menu: #8a8aa5;
  --color-bg-menu-button: #e6e8ef;

  /* Додаткові кольори */
  --color-icon: #72747d;
  --color-border-filter: #acaac9;
  --color-border-button: #0b0b0b;
  --color-line: #1b1661;

  /* Градієнти */
  --gradient-primary: radial-gradient(
    123.58% 123.58% at 38.64% 20.32%,
    #454794 0%,
    #15162e 100%
  );
  --gradient-button: radial-gradient(
    114.39% 151.52% at 50% 151.52%,
    #000000 0%,
    #3a3a45 100%
  );
  --gradient-button-light: radial-gradient(
    114.39% 151.52% at 50% 151.52%,
    #3b3d7e 0%,
    #ffffff 100%
  );
  --gradient-fade: linear-gradient(
    176.12deg,
    #f4f4f5 38.44%,
    rgba(244, 244, 245, 0.7) 60.53%,
    rgba(244, 244, 245, 0) 86.64%
  );
  --gradient-image: linear-gradient(179.1deg, #ffffff -21.21%, #32346b 99.23%);
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
  font-family: var(--font-manrope);
  /* Покращення роботи з touch events на мобільних */
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
  overscroll-behavior-y: contain;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-manrope {
  font-family: var(--font-manrope);
}
